@import '../../../../../Assets/AddOnePerson.css';
th,
td {
  text-align: center;
  padding: 5px 15px;
}
th {
  border-bottom: 2px solid white;
}
tr:nth-child(2n) td {
  background-color: #0d4d00e3;
}
.editBtn {
  padding: 5px 14px !important;
  border-radius: 15px !important;
  font-weight: 600 !important;
  font-size: 0.9rem !important;
}
