<div class="overlay">
    <div class="modal">
        <button class="close-btn" (click)="this.closeModal()">&times;</button>
        <h2 class="changeHeader">Zmiana opisu klubu</h2>
        <div class="changeContainer">
            <label for="newName" class="changeLabel">Podaj nowy opis klubu</label>
            <textarea type="text" name="newName" id="newName" class="changeInput" placeholder="Opis klubu"></textarea>
            <button class="acceptBtn">Zapisz</button>
        </div>
    </div>
</div>