<nav class="navbar customNavbar">
    <li class="d-flex" >
        <ul><a routerLink="home"><img src="Logo.png" height="40px"></a></ul>       
    </li>
    <li class="d-flex">
        <ul><a routerLink="login" style="color: whitesmoke;">Liga</a></ul>
        <ul><a routerLink="login" style="color: whitesmoke;">Wszystkie zespoły</a></ul>
        <ul><a routerLink="login" style="color: whitesmoke;">Najbliższe mecze</a></ul>
    </li>
    <li class="d-flex" style="margin-right: 15px;">
        <ul><a routerLink="login" style="color: whitesmoke;">Login</a></ul>
    </li>
</nav> 