<section class="overlay" style="height: 100%;" (escPressed)="onEscKeydown()">
    <section class="modal" style="height: 90%;">
        <button class="close-btn" (click)="this.closeEvent.emit()">&times;</button>
        <form [formGroup]="staff" style="width: 85%;" (ngSubmit)="SendRequest()">
            <h3>Dodawanie personelu</h3>
            <div style="width: 50%;display: flex;flex-direction: column;margin: auto;">
                <label for="first-Name">Imię pracownika:</label>
                <input name="first-Name" id="first-Name" type="text" formControlName="firstName">

                <label for="last-Name">Nazwisko pracownika:</label>
                <input name="last-Name" id="last-Name" type="text" formControlName="lastName">

                <label for="what-Trains">Rola pracownika:</label>
                <input type="text" name="what-Trains" id="what-Trains" formControlName="jobPosition">

                <label for="from">Kontrakt od:</label>
                <input type="date" name="from" id="from" formControlName="contractFrom">

                <label for="to">Kontrakt do:</label>
                <input type="date" name="to" id="to" formControlName="contractTo">

                <button type="submit" class="saveButton">Zapisz</button>
            </div>
        </form>
    </section>
</section>
<app-base-alert *ngIf="this.showAlert" [baseAlert]="this.baseAlert" (CloseEmit)="CloseAlert()"></app-base-alert>