<div class="BaseContainer">
    <section *ngIf="this.players.length>0;else empty">
        <ng-container *ngFor="let player of this.players">
            <p>Imię: {{player.firstName}}</p>
            <p>Nazwisko: {{player.lastName}}</p>
            <p>Kontrakt od {{player.contractFrom|date:"dd-mm-yyyy"}}</p>
            <p>Kontrakt do {{player.contractTo|date:"dd-mm-yyyy"}}</p>
            <p>Pozycja {{playerPosition(player.position)}}</p>
            <p>Czy ma kontuzje {{player.hasInjury}}</p>
            <div>
                <h4>Statystyki</h4>
                <p>Rozegrane mecze: {{player.playedMatches}}</p>
                <p>Rozegrane minuty: {{player.playedMinutes}}</p>
                <p>Gole: {{player.goals}}</p>
                <p>Asysty: {{player.assists}}</p>
                <p>Zółte kartki: {{player.yellowCards}}</p>
                <p>Czerwone kartki: {{player.redCards}}</p>
            </div>
        </ng-container>
    </section>
    <ng-template #empty>
        <h3>Jeszcze nie ma żadnego piłkarza</h3>
    </ng-template>
</div>