<section class="m-5 justify-content-center d-grid">
    <h1 class="text-center">
        Nasza strona zaprasza do przeglądania B-klasowych zespołów
    </h1>
    <img src="/Logo.png" width="400px" style="margin: auto" alt="WebsiteLogo" />

    <h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nibh mauris, convallis non est nec, tempor
        iaculis ex. Nulla in mauris semper nulla tempor feugiat vehicula at lacus. Aliquam tincidunt varius quam nec
        ultrices. Cras rhoncus nisi lorem, sed scelerisque nisi tempor id. Suspendisse potenti. Nullam faucibus
        dignissim aliquet. Suspendisse eget nibh a odio pretium sagittis. Sed ut pretium dui. Phasellus augue mi,
        maximus sit amet libero ac, iaculis varius sapien. Nunc egestas risus at libero scelerisque sollicitudin. Sed
        lacus odio, vulputate ut elit vitae, feugiat convallis ipsum. Pellentesque habitant morbi tristique senectus et
        netus et malesuada fames ac turpis egestas.

        Nunc sollicitudin lorem eget lacus malesuada cursus. Aenean odio sapien, malesuada ac condimentum at, dignissim
        non sapien. Duis at arcu lorem. Duis tincidunt eros libero, rhoncus hendrerit sem porttitor eu. Suspendisse
        turpis massa, placerat eget mauris id, egestas varius massa. Nulla vel pulvinar nisl, a mollis nibh. Suspendisse
        nisi nisl, convallis ut elit ut, porta semper libero. Aliquam erat volutpat. Proin a nisi eget urna commodo
        pellentesque sit amet vitae diam. Morbi vitae turpis risus. Phasellus pulvinar erat et tortor dictum faucibus.
        Nunc viverra leo vel lorem sollicitudin tempor. Sed est libero, euismod ut pellentesque eu, molestie quis
        ligula. Sed eu metus felis. Duis ut scelerisque magna.</h3>
</section>