<section class="m-5 justify-content-center d-grid">
    <h1 class="text-center">
        Nasza strona zaprasza do przeglądania B-klasowych zespołów
    </h1>
    <img src="/Logo.png" width="400px" style="margin: auto" alt="WebsiteLogo" />
    <section class="NewestSection">
        <h3 class="m-5">Najnowsze stworzone zespoły</h3>
        <section class="ClubPresentation">
            <ng-container *ngFor="let item of this.homeClubs">
                <div class="OneClub">
                    <h4>{{item.clubName}}</h4>
                    <img src="/Logo.png" width="150px" style="margin: 15px auto" alt="Fc_Logo" />
                    <p>Założony w {{item.rising | date:"yyyy"}} roku</p>
                    <p class="DetailsBtn" routerLink="Club/Details/{{item.clubId}}">Szczegóły</p>
                </div>
            </ng-container>
        </section>
    </section>
</section>