<ng-container *ngIf="clubSelectList">
    <section class="mainSection glassEfect">
        <button class="exit" (click)="closeEvent.emit()">X</button>
        <h1>Zmiana nazwy</h1>
        <form [formGroup]="clubsForm" (submit)="onSubmit()">
            <ng-container formArrayName="oneClub">
                <div *ngFor="let item of oneClub.controls;index as i" style="display: grid;">
                    <ng-select class="custom" [formControlName]="i" [items]="filteredClubSelectList"
                        bindLabel="clubName" notFoundText="Nie znaleziono klubu" bindValue="clubId" [multiple]="false"
                        [searchable]="true" [virtualScroll]="true" (search)="onSearch($event.term)">
                    </ng-select>
                    <button class="EditBtn" type="button" (click)="removeClub(i)"
                        *ngIf="oneClub.length > 1">Usuń</button>
                </div>
            </ng-container>
            <section style="display: grid;">
                <button class="EditBtn" type="button" (click)="addClub()" style="margin-top: 30px;">Dodaj klub</button>
                <button class="saveButton" type="submit">Zapisz kluby</button>
            </section>
        </form>
    </section>
</ng-container>

<app-base-alert *ngIf="ShowAlert" (CloseEmit)="ShowAlert=false" [baseAlert]="baseAlert"></app-base-alert>