.mainSection {
  position: fixed;
  height: auto;
  max-height: 800px;
  overflow-y: auto;
  width: 25%;
  top: 10%;
  left: 38%;
  background: #19261e8c;
  text-align: center;
  display: grid;
  padding: 15px 25px;
  border-radius: 15px;
  backdrop-filter: blur(21px);
}
.EditBtn {
  height: 2.5rem;
  width: 40%;
  padding: 5px 15px;
  border-radius: 15px;
  background-color: #0000ff78;
  border: none;
  box-shadow: 4px 7px 4px 3px #00000057;
  margin: 0 auto 15px auto;
}
.EditBtn:hover {
  opacity: 0.8;
}
.EditBtn:active {
  opacity: 0.6;
}
.exit {
  position: fixed;
  right: 15px;
  top: 15px;
  font-weight: bolder;
  font-size: 1.5rem;
  background: transparent;
  border: none;
}
.ng-select.custom {
  padding: 3px 15px;
  border-radius: 15px;
  background-color: #9dfd8221;
  color: whitesmoke;
  backdrop-filter: blur(15px);
}
::ng-deep .ng-select .ng-dropdown-panel {
  left: 0;
  background-color: #6eae42db;
  backdrop-filter: blur(15px);
  border-radius: 15px;
}
::ng-deep .ng-select .ng-option.ng-option-marked {
  opacity: 0.8;
  background-color: #8080805e;
}
::ng-deep .ng-select .ng-option.ng-option-marked:last-child {
  border-radius: 0 0 15px 15px;
}
::ng-deep .ng-select .ng-option.ng-option-marked:first-child {
  border-radius: 15px 15px 0 0;
}
