<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<nav class="navbar customNavbar">
  <li class="d-flex leftBar">
    <ul>
      <a href="/">
        <img src="Logo.png" height="40px" alt="Website logo" /></a>
    </ul>
  </li>
  <li class="d-flex centerBar">
    <ul>
      <a href="League">Wszystkie ligi</a>
    </ul>
    <ul>
      <a href="Club">Wszystkie zespoły</a>
    </ul>
    <ul>
      <a routerLink="Matches">Mecze w najbliższym tygodniu</a>
    </ul>
  </li>
  <li class="d-flex rightBar" *ngIf="!isLogin; else LogOut">
    <ul>
      <a href="User/login">Login</a>
    </ul>
  </li>
  <ng-template #LogOut>
    <li class="d-flex rightBar">
      <ul><a href="User/Panel">Panel użytkownika</a></ul>
      <ul><a (click)="Logout()">Wyloguj</a></ul>
    </li>
  </ng-template>
</nav>