<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<nav class="navbar customNavbar">
  <li class="d-flex leftBar">
    <ul>
      <a href="/">
        <img src="Logo.png" height="40px" alt="Website logo" /></a>
    </ul>
  </li>
  <li class="d-flex centerBar">
    <ul>
      <a href="Club/Create" style="color: whitesmoke" *ngIf="isLogin">Stwórz klub</a>
    </ul>
    <ul>
      <a routerLink="login" style="color: whitesmoke">Wszystkie zespoły</a>
    </ul>
    <ul>
      <a routerLink="login" style="color: whitesmoke">Najbliższe mecze</a>
    </ul>
    <ul>
      <a routerLink="login" style="color: whitesmoke" *ngIf="isLogin">Twoje dodane zespoły</a>
    </ul>
  </li>
  <li class="d-flex rightBar" *ngIf="!isLogin; else LogOut">
    <ul>
      <a href="User/login" style="color: whitesmoke">Login</a>
    </ul>
  </li>
  <ng-template #LogOut>
    <li class="d-flex rightBar">
      <ul><a href="User/Details" style="color: whitesmoke">Szczegóły</a></ul>
      <ul><a (click)="Logout()" style="color: whitesmoke;cursor: pointer;">Wyloguj</a></ul>
    </li>
  </ng-template>

</nav>