<section class="m-5 justify-content-center d-grid">
    <h1 class="text-center">Nasza strona zaprasza do przeglądania B-klasowych zespołów</h1>
    <img src="/Logo.png" width="400px" style="margin: auto;">
    <section class="NewestSection">
        <h3 class="m-5">Najnowsze stworzone zespoły</h3>
        <section class="ClubPresentation">
            <div class="OneClub">
                <h4>FC KARTOFLE</h4>
                <img src="/Logo.png" width="150px" style="margin: 15px 0px;">
                <p>Historia clubu </p>
                <p>Założony w 1111 roku</p>
                <p>Miesce grania WIOSKA</p>
                <p class="DetailsBtn">Szczegóły</p>
            </div>
            <div class="OneClub">
                <h4>FC KARTOFLE</h4>
                <img src="/Logo.png" width="150px" style="margin: 15px 0px;">
                <p>Historia clubu </p>
                <p>Założony w 1111 roku</p>
                <p>Miesce grania WIOSKA</p>
                <p class="DetailsBtn" routerLink="/Club/Details/asdad-asdasd-asdasd">Szczegóły</p>
            </div>
            <div class="OneClub">
                <h4>FC KARTOFLE</h4>
                <img src="/Logo.png" width="150px" style="margin: 15px 0px;">
                <p>Historia clubu </p>
                <p>Założony w 1111 roku</p>
                <p>Miesce grania WIOSKA</p>
                <p class="DetailsBtn">Szczegóły</p>
            </div>
        </section>
    </section>
</section>