<section class="MainContainer">
    <app-loading-page *ngIf="IsLoading;else load"></app-loading-page>
    <ng-template #load>
        <div class="EditContainer">
            <section class="ButtonColumn">
                <button (click)="changeContainer('primary')" class="navBtn" [ngClass]="{active:primary}">Podstawowe
                    informacje</button>
                <button (click)="changeContainer('players')" class="navBtn"
                    [ngClass]="{active:players}">Piłkarze</button>
                <button (click)="changeContainer('coaches')" class="navBtn"
                    [ngClass]="{active:coaches}">Trenerzy</button>
                <button (click)="changeContainer('staffs')" class="navBtn" [ngClass]="{active:staffs}">Personel</button>
            </section>
            <section class="DateContainer">
                <app-primary-date [club]="this.club" [clubId]="this.clubId" *ngIf="primary"></app-primary-date>
                <app-players-edit [ClubId]="this.clubId" *ngIf="players"></app-players-edit>
                <app-coaches-edit [ClubId]="this.clubId" *ngIf="coaches"></app-coaches-edit>
                <app-staffs-edit [ClubId]="this.clubId" [staffs]="this.club.staffList" *ngIf="staffs"></app-staffs-edit>
            </section>
        </div>
    </ng-template>

</section>
<app-base-alert [baseAlert]="baseAlert" *ngIf="ShowAlert" (CloseEmit)="CloseAlert()"></app-base-alert>