<div *ngIf="staffs.length>0;else emptyList">
    <ng-container *ngFor="let item of staffs">
        <p>{{item.firstName}} {{item.lastName}} {{item.jobPosition}}</p>
    </ng-container>
</div>
<ng-template #emptyList>
    <h1>Brak personelu w klubie</h1>
    <button class="AddingBtn">Dodaj pierwszy personel</button>
</ng-template>
<app-add-staff [ClubId]="this.ClubId" *ngIf="addStaff" (closeEvent)="addStaff = false"></app-add-staff>
<app-base-alert [baseAlert]="baseAlert" *ngIf="ShowAlert" (CloseEmit)="ShowAlert = false"></app-base-alert>