.errorSection {
  text-align: center;
  margin-top: 20px;
  height: 200px;
  width: 50%;
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.errorSection p,
h1 {
  color: #640808;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}
.errorSection p {
  font-size: 1.4rem;
}
.MainContainer {
  display: grid;
  margin: auto;
  width: 80%;
  text-align: center;
  margin-top: 25px;
}
.ButtonContainer {
  margin: 20px auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.InActiveBtn {
  border-radius: 15px 15px 5px 5px;
  color: whitesmoke;
  padding: 5px 15px;
  background: transparent;
}
.InActiveBtn:hover {
  opacity: 0.8;
  transition-duration: 0.5s;
}
.ActiveBtn {
  border-radius: 15px 15px 5px 5px;
  color: whitesmoke;
  padding: 5px 15px;
  background: transparent;
  font-weight: bolder;
}
