<section *ngIf="league;else Null">
    <section class="mainSection glassEfect">
        <h1>{{league.name}}</h1>
        <button class="EditBtn" (click)="editNameShow=true">Zmień nazwę</button>
        <h3>{{GetLeagueStatus(league.status)}}</h3>
        <section class="PrimaryDateSection">
            <label for="startAt">Liga startuje:</label>
            <p name="startAt">{{league.startAt | date:"dd-MM-yyyy"}}</p>
            <label for="endAt">Liga startuje:</label>
            <p name="endAt">{{league.endAt | date:"dd-MM-yyyy"}}</p>
            <button class="EditBtn" (click)="editDateShow = true">Zmień daty</button>
            <label for="maxClubs">Ilość klubów w lidze:</label>
            <p name="maxClubs">{{league.maxClubsInLeague}}</p>
            <button class="EditBtn" (click)="editQuantityShow = true">Zmień ilość klubów</button>
        </section>
    </section>
    <section class="mainSection glassEfect" style="margin-top: 25px;">
        <h1>Zepoły w lidze</h1>
        <section *ngIf="league.clubStatistics">
            <ng-container *ngIf="league.clubStatistics.length >0;else empty">
                <section></section>
                <button class="EditBtn" style="width: 40%;" (click)="addClubsShow = true">Dodaj kolejny zespół do
                    ligi</button>
            </ng-container>
            <ng-template #empty>
                <h2>Nie ma dodanych żadnych klubów do tej ligi</h2>
                <button class="EditBtn" style="width: 40%;" (click)="addClubsShow = true">Dodaj pierwsze zespoły do
                    ligi</button>
            </ng-template>
        </section>
    </section>
</section>
<ng-template #Null>
    <div class="loader"></div>
</ng-template>
<app-edit-name *ngIf="editNameShow" (closeEvent)="editNameShow=false" [LeagueId]="league.id"
    (saveEvent)="SaveName($event)"></app-edit-name>
<app-edit-date *ngIf="editDateShow" (closeEvent)="editDateShow=false" [LeagueId]="league.id"
    (saveEvent)="SaveDate($event)"></app-edit-date>
<app-edit-quantity *ngIf="editQuantityShow" (closeEvent)="editQuantityShow=false" [LeagueId]="league.id"
    (saveEvent)="SaveQuantity($event)"></app-edit-quantity>
<app-add-clubs *ngIf="addClubsShow" (closeEvent)="addClubsShow = false;"></app-add-clubs>
<app-base-alert *ngIf="ShowAlert" (CloseEmit)="ShowAlert=false" [baseAlert]="baseAlert"></app-base-alert>