<section class="MainContainer glassEfect">
    <h1>
        Detale użytkownika
    </h1>
    <label for="Name">Nazwa:</label>
    <p id="Name">{{this.userName}}</p>
    <button class="editBtn editBtnHere" (click)="clickLoginChange()">
        Zmień login
    </button>
    <button class="editBtn editBtnHere" (click)="clickPasswordChange()">
        Zmień hasło
    </button>
    <section class="glassEfect" style="margin: 25px;display: grid;" *ngIf="changeLogin">
        <h3>Zmień login</h3>
        <label for="Login">Nowy login</label>
        <input class="customInput" type="text" [(ngModel)]="newLogin" name="newLogin" id="newLogin">
        <button class="changeBtn glassEfect" (click)="changeLoginAPI()">Zmień</button>
    </section>
    <section class="glassEfect" style="margin: 25px;display: grid;" *ngIf="changePassword">
        <h3>Zmień hasło</h3>
        <label for="Password">Nowy hasło</label>
        <input class="customInput" type="text" [(ngModel)]="newPassword" name="changePassword" id="changePassword">
        <button class="changeBtn glassEfect" (click)="changePasswordAPI()">Zmień</button>
    </section>
</section>