<h3>Podstawowe dane Klubu</h3>
<div class="OneElement">
    <p>{{this.club.name}}</p>
    <button class="editBtn" (click)="this.nameEdit=true">Edytuj nazwę klubu</button>
</div>
<div class="OneElement">
    <p>{{this.club.description}}</p>
    <button class="editBtn" (click)="this.descEdit=true;">Edytuj opis klubu</button>
</div>
<div class="OneElement">
    <p>{{this.club.rising | date:"yyyy-MM-dd"}}</p>
    <button class="editBtn" (click)="this.risingEdit=true;">Edytuj date powstania klubu</button>
</div>
<app-name-edit *ngIf="nameEdit" (closeEmit)="nameEdit = false" [ClubId]="this.clubId"
    (SaveEmit)="getNewClubName($event)"></app-name-edit>

<app-description-edit *ngIf="descEdit" (closeEmit)="descEdit = false" [ClubId]="this.clubId"
    (SaveEmit)="getNewClubDescription($event)"></app-description-edit>

<app-rising-edit *ngIf="risingEdit" (closeEmit)="risingEdit = false" [ClubId]="this.clubId"
    (SaveEmit)="getNewClubRising($event)"></app-rising-edit>

<ng-container *ngIf="ShowAlert">
    <app-base-alert [baseAlert]="baseAlert" (CloseEmit)="this.ShowAlert = false"></app-base-alert>
</ng-container>