<div *ngIf="coaches;else loader">
    <div *ngIf="coaches.length > 0;else emptyList">
        <table>
            <thead>
                <th>Imię trenera</th>
                <th>Nazwisko trenera</th>
                <th>Rola trenera</th>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of coaches; let i = index">
                    <tr>
                        <td>{{item.firstName}}</td>
                        <td>{{item.lastName}}</td>
                        <td>{{item.whatTrains}}</td>
                        <td style="background-color: transparent"><input type="button" class="detailsBtn"
                                value="Szczegóły" (click)="SelectCoachForDetails(item.id)"></td>
                        <td style="background-color: transparent"><input type="button" class="editBtn" value="Edytuj"
                                (click)="SelectCoach(item.id)" />
                        </td>
                        <td style="background-color: transparent"><input type="button" class="deleteBtn" value="Usuń" />
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <input type="button" class="AddingBtn" (click)="addForm = true" value="Dodaj kolejnego trenera">
    </div>
</div>
<ng-template #loader>
    <div class="loader" style="position: inherit;"></div>
</ng-template>
<ng-template #emptyList>
    <h1>Brak trenerów w klubie</h1>
    <input type="button" class="AddingBtn" (click)="addForm = true" value="Dodaj pierwszego trenera">
</ng-template>
<app-add-coach *ngIf="addForm" [clubId]="ClubId" (closeEvent)="addForm = false"
    (saveEvent)="GetNewCoach($event)"></app-add-coach>
<app-edit-coach *ngIf="editForm" [coachId]="this.SelectedCoachId" (closeEvent)="editForm = false"
    (saveEvent)="GetEditCoach($event)"></app-edit-coach>
<app-details-coach *ngIf="details" [coachId]="this.SelectedCoachId" (closeEvent)="details = false"></app-details-coach>
<app-base-alert *ngIf="this.showAlert" [baseAlert]="this.baseAlert" (CloseEmit)="CloseAlert()"></app-base-alert>